# COPY FILE TO env.sh (which should be in your .gitignore)
# THEN CHANGE THESE TO CORRECT VALUES

export MONGO_DBNAME=sample-db-name
export MONGO_USERNAME=sample-username
export MONGO_PASSWORD=sample-password
export MONGO_URI=mongodb://ds123456.mlab.com:54321/