# COPY FILE TO env.sh (which should be in your .gitignore)
# THEN CHANGE THESE TO CORRECT VALUES

export MONGO_HOST=xxxxxx.mlab.com    
export MONGO_PORT=99999
export MONGO_DBNAME=sample-db-name
export MONGO_USERNAME=sample-username
export MONGO_PASSWORD=sample-password